{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <main class="container">
        <div class="row mb-2">
            {{ include('widget/main-article.html.twig') }}
        </div>
        <div class="row mb-2">
            {{ include('widget/popular-articles.html.twig') }}
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Статьи
                </h3>
                <div id="article-list">
                    {% include 'article/list.html.twig' with { articles } %}
                </div>
                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="#">Предыдущие</a>
                    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Следующие</a>
                </nav>
            </div>
            <aside class="col-md-4">
                {{ include('widget/about.html.twig') }}

                {{ include('widget/categories.html.twig') }}

                {{ include('widget/archive.html.twig') }}
            </aside>
        </div>
    </main>
{% endblock %}
